.questions-section {
   margin-top: 30px;
    height: auto;
}

.center-questions {
    display: flex;
    justify-content: center;

}

.post-card {
    height: auto;
    padding: 15px;
    margin-top: 10px;
    -moz-box-shadow: 9px 9px 9px -2px rgba(230, 224, 224, 0.8);
    -webkit-box-shadow: 9px 9px 9px -2px rgba(230, 224, 224, 0.8);
    box-shadow: 9px 9px 9px -2px rgba(230, 224, 224, 0.8);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    border: 1px solid rgba(173, 216, 230, 1);
    border-radius: 5px;
}

#dark .post-card {
    -moz-box-shadow: 9px 9px 9px -2px rgba(18, 18, 18, 0.5);
    -webkit-box-shadow: 9px 9px 9px -2px rgba(18, 18, 18, 0.5);
    box-shadow: 9px 9px 9px -2px rgba(18, 18, 18, 0.5);
    border: 1px solid rgba(173, 216, 230, 0.4);
}


.collapse-post {
    display: flex;
    justify-content: space-between;
}

.post-card h6 {
    padding: 10px;
    text-transform:capitalize;
    font-weight: bold;
}

.open {
    border-left: 5px solid #00b4d8;
}

.open h6 {
    transition-duration: 0.3s;
    color: orange;
}

.collapse-post p {
    color: #00b4d8;
}

.faq-text {
    height: auto;
    padding: 10px;
}

.post-card:hover {
    -moz-box-shadow: -9px 9px 5px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -9px 9px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: -9px 9px 5px -3px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #00b4d8;
    transition-duration: 0.3s;
}

#dark .post-card:hover {
    -moz-box-shadow: -6px 11px 5px -3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -6px 11px 5px -3px rgba(0, 0, 0, 0.4);
    box-shadow: -6px 11px 5px -3px rgba(0, 0, 0, 0.4);
    transition-duration: 0.3s;
}