.content-slider {
    overflow: hidden;
    margin: auto;
    cursor: pointer;
}

img.image-slider {
    background-position: center;
}

.gallery-slider {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
