.home {
    height: 100vh;
    color: #555;
    background-color: rgba(52, 213, 245, 0.4);
    position: relative;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

#dark .home {
    background-color: rgb(17, 5, 0);
    color: aliceblue;
}

#dark .home:before {
    z-index: 0;
    opacity: 0.25;
    background-color: black;
}

.home:before {
    content:"";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: url("../../img/home_image.jpg") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    transition: transform 5s linear; 
}

.home:hover:before {
    transform: scale(1.08); 
  }

.home.scale-small:before {
    transform: scale(1);
  }

.home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.home p {
    margin-bottom: 30px;
}

.home-button {
    background-color: rgba(255, 228, 196, 0.8);
    color:#005379;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    transition-duration: 0.3s;
}

#dark .home-button {
    background-color: rgba(255, 166, 0, 0.8);
    color: #333;
    transition-duration: 0.3s;
}

#dark .home-button:hover {
    background-color: #00b4d8;
    color:#004579;
}

.home-button a {
    display: block;
    height: 25px;
}

.home-button:hover {
    background-color: white;
    color:#007cb6;
}

h1.home-title {
    margin-bottom: 20px;
    color:#0082b6;
    text-shadow: 2px 2px 2px rgba(255, 228, 196, 0.5);
    font-weight: bolder;
}

#dark h1.home-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.theme-change {
    opacity: 0.5;
    position: fixed;
    z-index: 5;
    justify-content: center;
    height: 35px;
    background-color: #0082b6;
    width: 35px;
    right: 15px;
    bottom: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    cursor: pointer;
    border-radius: 15%
}

.theme-change:hover {
    opacity: 0.8;
    transition-duration: 0.5s;
}

.theme-change p {
    color: aliceblue;
}